# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment folders
venv/
env/
.venv/
.env/

# OS-specific files
.DS_Store
Thumbs.db

# Python packaging
*.egg
*.egg-info/
dist/
build/

# IDE/editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# Environment variables file
.env

